!.gitignore
!.gitkeep
.vscode
.vs
.idea
.DS_Store
Thumbs.db
node_modules
logs
*.log
coverage
dist

# hide test folders
/.babelrc
/.mjmlconfig
/components
/src/components
/data
/partials
/layouts
/public
/build
